#combatContainer > .row > .auto-column {
    padding-right: 50px;
}

#opponentSelector {
    margin-bottom: 5px;
}

#combat-actions {
    width: 100px;
}

#combat-actions button {
    width: 100px;
    margin-bottom: 5px;
}

#playerHealthProgress {
    background-color: rgb(1, 158, 53);
}

#playerAttackProgress {
    background-color: rgb(3, 166, 231);
}

#enemyHealthProgress {
    background-color: rgb(144, 1, 1);
}

#enemyAttackProgress {
    background-color: rgb(3, 166, 231);
}
