#combatContainer .auto-column {
    padding-right: 50px;
}

.equipment .label {
    width:80px;
    display:inline-block;
}

.equipment select {
    min-width:150px;
    margin-bottom: 5px;
}

#equipment {
    display: flex
}

.equipment-slot {
    margin: 2px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(39, 39, 39);
    cursor: pointer;
}

#opponentSelector {
    margin-bottom: 5px;
}

.combat-actions button {
    width: 100px;
    margin-bottom: 5px;
}

#playerHealthProgress {
    background-color: rgb(1, 158, 53);
}

#playerAttackProgress {
    background-color: rgb(3, 166, 231);
}

#enemyHealthProgress {
    background-color: rgb(144, 1, 1);
}

#enemyAttackProgress {
    background-color: rgb(3, 166, 231);
}
