.dark {
    background-color:rgb(39, 39, 39);
    color:white;
}
.dark a {
    color:white;
    text-decoration: none;
}
.dark a:hover {
    color:rgb(161, 161, 161);
}
.dark .header {
    background-color: rgb(39, 39, 39);
}
.dark button {
    background-color: black;
    color:white;
}
.dark div {
    border-color: white;
}
.dark span {
    border-color: white;
}
.dark fieldset {
    border-color: white;
}
.dark select {
    background-color: black;
    color:white;
    border: none;
}

.dark #messagesContainer {
    border-color: white;
}
