#inventory {
    display: flex;
    flex-flow: wrap;
}

#itemDetails {
    min-height: 166.5px;
}

.item-icon {
    margin: 2px;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    background-color: rgb(39, 39, 39);
    cursor: pointer;
}

.item-icon img {
    padding: 2px;
    display: block;
}

.inventory-count {
    text-align: center;
    font-size: 0.6em;
}