#messagesContainer{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    max-height: 85vh;
    overflow-y: hidden; /* hide scrollbar */
    padding: 10px;
    margin:20px;
    border:1px solid rgb(0, 0, 0);

    /* place column on right of page */
    position: absolute;
    right: 0;
}
#messagesContainer li{
    text-align: left;
    padding-top:5px;
}

#messagesHeader{
    position:fixed;
}

#messages li{
    margin-bottom:10px;
    margin-top:10px;
}

.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}