#messagesContainer{
    width: 400px;   
    min-height: 0px;
    overflow-y: hidden; /* hide scrollbar */
}

#messagesContainer li{
    text-align: left;
    padding-top:5px;
}

#messages li{
    margin-bottom:10px;
    margin-top:10px;
}

.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}