#progressContainer{
    width: calc(15% - 62px);
}

#progressContainer .progress-bar {
    width: 99%;
}

#progressXp {
    background-color:rgb(196, 196, 196);
}

#progressStamina {
    background-color:rgb(46, 120, 231);
}