*{
    padding:0;
    margin:0;
}
body{
    min-width: 400px;
    width: auto !important;
}
li{
    list-style-type: none;
}
select{
    height: 25px;
}

.subheader{
    margin-top:4px;
    padding-left: 10px;
    margin-right:10px;
}
.container{
    width: 73%;
    margin:20px;
    height: auto;
    padding:10px;
    border:1px solid black;
}
.button{
    /* width:max-content; */
     /* height:22px; */
    font-size: 12px;
    border:1px solid black;
    background-color:white;
    color:black;
    /* font-size:15px; */
    font-weight:100;
    padding:5px;
    /* padding-bottom:5px; */
    /* cursor:pointer; */
}
.button:hover{
    background-color:rgb(212, 212, 212);
    color:black;
    cursor: pointer;
}
.header{
    z-index:1;
    margin-top:-26px;
    background:white;
    /* position: fixed; */
    width: fit-content;
    padding-left:2px;
    padding-right:2px;
}

.disabled{
    /* width:max-content; */
     /* height:22px; */
     font-size: 12px;
     border:1px solid rgb(170, 170, 170);
     background-color:rgb(255, 255, 255);
     color:rgb(165, 165, 165);
     /* font-size:15px; */
     font-weight:100;
     padding:5px;
     /* padding-bottom:5px; */
     /* cursor:pointer; */
}
.disabled:hover{
    cursor: default;
}