*{
    padding:0;
    margin:0;
}
body{
    min-width: 400px;
    width: auto !important;
}
#progressContainer{
    width:250px;
    height:auto;
    margin: 20px;
    padding:10px;
    border:1px solid black;
}
#messagesContainer{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    max-height: 85vh;
    overflow-y: hidden;
    /* hide scrollbar */
    padding: 10px;
    /* flex-direction : row-reverse; */
    /* margin-top:-40px; */
    margin:20px;
    border:1px solid rgb(255, 255, 255);
    /* place column on right of page */
    position: absolute;
    right: 0;
}
#messagesContainer li{
    text-align: left;
    padding-top:5px;
    /* padding-bottom:5px; */
}
.subheader{
    margin-top:4px;
    padding-left: 10px;
}
.progressBar{
    width: 95%;
    height: 13px;
    border:1px solid gray;
}
.progressBar div {
    height:100%;
}
#progressXp{
    background-color:rgb(196, 196, 196);
}
#progressStamina{
    background-color:rgb(46, 120, 231);
}
.container{
    width: 73%;
    margin:20px;
    height: auto;
    padding:10px;
    border:1px solid black;
}
.button{
    /* width:max-content; */
     /* height:22px; */
    font-size: 12px;
    border:1px solid black;
    background-color:white;
    color:black;
    /* font-size:15px; */
    font-weight:100;
    padding:5px;
    /* padding-bottom:5px; */
    /* cursor:pointer; */
}
.header{
    z-index:1;
    margin-top:-26px;
    background:white;
    /* position: fixed; */
    width: fit-content;
    padding-left:2px;
    padding-right:2px;
}
.button:hover{
    background-color:rgb(212, 212, 212);
    color:black;
    cursor: pointer;
}
.store{
    margin-left:2px;
    margin-right:2px;
    margin-top:3px;
}
li{
    list-style-type: none;
}

#stats p{
    margin-bottom:10px;
}
.subheader{
    margin-right:10px;
}
select{
    height: 25px;
}
.footer{
    position: absolute;
    bottom: 0;
    right:0;
    display: inline-flex;
    /* float:right; */
    width: max-content;
    height: auto;
    background-color: white;
    color:black;
    padding:10px;
    margin-right:30px;
}
.footer *{
    margin-left:30px;
}
footer *:hover{
    cursor: pointer;
    color: rgb(90, 90, 90);
}
.disabled:hover{
    cursor: default;
}
.disabled{
    /* width:max-content; */
     /* height:22px; */
     font-size: 12px;
     border:1px solid rgb(170, 170, 170);
     background-color:rgb(255, 255, 255);
     color:rgb(165, 165, 165);
     /* font-size:15px; */
     font-weight:100;
     padding:5px;
     /* padding-bottom:5px; */
     /* cursor:pointer; */

}
#armor, #weapons{
    padding-top:5px;
}
#messagesHeader{
    position:fixed;
}
.dark {
    background-color:rgb(39, 39, 39);
    color:white;
}
.dark a {
    color:white;
    text-decoration: none;
}
.dark a:hover {
    color:rgb(161, 161, 161);
}
.dark .header {
    background-color: rgb(39, 39, 39);
}
.dark #footerContainer {
    background-color: transparent;
}
.dark button {
    background-color: black;
    color:white;
}
.dark div {
    border-color: white;
}
.dark select {
    background-color: black;
    color:white;
    border: none;
}

.ignoreThis{
    display:none;
}
.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
  }
#messages li{
    margin-bottom:10px;
    margin-top:10px;
}

#achievements .progressBar {
    width: 100px;
}
#achievements progress {
    background-color:black;
}

#achievements progress::-webkit-progress-bar {
    background-color: white;
    border: 1px solid black;
}

#achievements progress::-moz-progress-bar {
    background-color: white;
    border: 1px solid black;
}

#achievements progress::-webkit-progress-value {
    background-color:rgb(3, 56, 136);
}

#achievements progress::-moz-progress-value {
    background-color:rgb(3, 56, 136);
}